{% extends "fnb_base.html" %}
{% block title %}Login{% endblock title %}

{% block body %}

<div class="login-form text-center">

  {% if form.errors %}
  <p class="text-danger">Wrong username and/or password</p>
  {% endif %}

  <h2>Login</h2>

  <form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}

    <div class="login_input_wrapper">
      {{ form.username }}
    </div>

    <div class="login_input_wrapper">
      {{ form.password }}
    </div>

    <button class="btn btn-primary btn-lg" type="submit" style="width: 100%;" value="login">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

</div>

<hr class="login-form">

{% endblock body %}
