/* GENERIC ELEMENTS */

* {
  box-sizing: border-box;
}

body {
  padding-top: 5.5rem;
  background-color: #111;
}

/* fix nav scrolling on small screens */
@media (min-width: 768px) {
  .navbar-collapse.navcontent.collapse.show {
      max-height: 540px !important;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
  }
}

/*NAVIGATION*/

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 57, 57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav,
ol.breadcrumb {
  background-color: #041527;
}

h3 {
  font-size: 1.5rem;
}

.login-form {
  max-width: 350px;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 50px;
}

label {
  font-weight: bold;
}

select.form-control:not([size]):not([multiple]),
.btn-filter>input {
  height: calc(2rem + 2px);
  padding: 2px;
}

.login_input_wrapper {
  margin: 15px 0;
}

footer {
  margin-top: 10rem;
  margin-bottom: 3rem;
}

/* override bootstrap classes */

.alert {
  padding: 0.5rem;
}

.table th {
  padding: 0.35rem;
  background-color: #041527;
}

.table td {
  padding: 0.25rem;
  font-size: 0.9rem;
}

.dropdown-divider {
  margin: 0.15rem 0;
}

.fixed-top a {
  font-size: 0.85rem;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 0 5px;
}
