{% extends "fnb_base.html" %}
{% block title %}{{ person }} detail{% endblock title %}
{% load static %}

{% block content_content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ person }} detail</li>
    </ol>
</nav>

<div class="user-detail-card" style="width: 50%;">

    <div class="user-card-body">
        <h4>{{ person.name }}</h4>

        <p>Email: <a href="mailto:{{ person.username }}">{{ person.username }}</a></p>
        <p>Phone: <a href="#">{{ person.phone }}</a></p>

        <p>Last seen: {{ person.user.last_login }}</p>
        <p>Joined: {{ person.created }}</p>
    </div>
</div>



{% endblock content_content %}
